<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS} %p %c{2}: %m%n</pattern>
        </encoder>
    </appender>

    <if condition='isDefined("GRAYLOG_HOST")'>
        <then>
            <appender name="gelf" class="de.siegmar.logbackgelf.GelfUdpAppender">
                <graylogHost>${GRAYLOG_HOST}</graylogHost>
                <graylogPort>${GRAYLOG_PORT:-12201}</graylogPort>

                <encoder class="de.siegmar.logbackgelf.GelfEncoder">
                    <originHost>${HOSTNAME:-localhost}</originHost>
                    <includeLevelName>true</includeLevelName>
                    <includeCallerData>true</includeCallerData>

                    <staticField>app_name:kotlin-vertx</staticField>
                </encoder>
            </appender>
        </then>
    </if>

    <root level="info">
        <appender-ref ref="stdout" />

        <if condition='isDefined("GRAYLOG_HOST")'>
            <then>
                <appender-ref ref="gelf" />
            </then>
        </if>
    </root>

    <logger name="io.vertx.rabbitmq.impl.RabbitMQClientImpl" level="error" />
</configuration>
